html,
body {
  margin: 0;
  margin-top: 2%;
  padding: 0;
  width: 100%;
  height: 90%;
  -webkit-app-region: drag;
  user-select: none;
  background-color: rgb(41, 41, 45);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#switchButton {
  flex: 1;
  width: 80%;
  height: 100%;
  border: none;
  background-color: #0078d7;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-app-region: no-drag;
  padding: 10px, 10px;
  flex-direction: column;
  align-self: center;
}

#switchButton:hover {
  background-color: #005fa3;
}